<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio debitis
    reiciendis excepturi nisi iure illo placeat libero voluptatem repudiandae
    enim voluptates repellat, officia sequi voluptatibus omnis! Culpa quam
    doloremque minima?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media_title quote__author">John Lumeo</h3>
        <p class="quote__organization">Mosh Company</p>
      </div>
    </div>
  </footer>
</blockquote>
